.App {
  text-align: center;
}

/* .app-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
} */

.admin-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.gallery-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}