.App {
  /* position: relative; */
  text-align: center;
}

.row {
  --bs-gutter-x: 0;
}

.app-container {
  display: flex;
  /* flex-direction: column; */
  min-height: 100vh;
  justify-content: center;
  /* border: 5px solid rgb(169, 2, 172); */
}

/* .admin-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
} */

/* страница с альбомами*/
.gallery-container {
  min-height: 100vh;
  width: 60%;
  justify-content: center;
  /* border: 2px solid rgb(46, 29, 174); */
  border: 1px solid rgb(46, 29, 174);
  flex-wrap: wrap;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  position: relative; /*зададим родительский компонент для текста*/
  margin: 0.5%;
  /* border: 2px solid rgb(176, 11, 140); */
}

/* .gallery-card-img {
  background-image: linear-gradient(180deg, rgb(118, 52, 126), rgb(189, 84, 201));
  border: 2px solid rgb(11, 176, 61);
} */

.gallery-card-body {
  position: absolute; /*зададим положение для дочернего компонента*/
  left: 1%; /*для position: absolute задаем отступы слева*/
  bottom: 1%; /*... и снизу*/
  flex-direction: column;
  align-content: space-between;
  margin: 5px;
}

/* страница со всеми фотографиями в альбоме и*/
/* страница с изображением фотографии на в полном размере*/
.photo-container {
  min-height: 100vh;
  width: 60%;
  justify-content: center;
  border: 2px solid rgb(46, 29, 174);
}

.photo-card {
  height: auto;
  margin: 0.5%;
  /* border: 2px solid rgb(176, 11, 140); */
  border: 1px solid rgb(52, 52, 52);
  overflow: hidden; /*скрывает все за границами данного блока*/
}

.photo-card-img {
  /* border: 2px solid rgb(11, 176, 61); */
  width: 100%;
}

.create-gallery-container {
  border: 1px solid rgb(46, 29, 174);
  display: flex;
  min-height: 100vh;
  width: 60%;
  justify-content: center;
  /* flex-wrap: wrap; */
}