.App {
  text-align: center;
}

.row {
  --bs-gutter-x: 0;
}

.app-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  border: 5px solid rgb(115, 115, 115);
}

/* .admin-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
} */

/* страница с альбомами*/
.gallery-container {
  min-height: 100vh;
  width: 60%;
  justify-content: center;
  /* border: 2px solid rgb(46, 29, 174); */
  border: 1px solid rgb(85, 85, 85);
  flex-wrap: wrap;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  /* border: 2px solid rgb(176, 11, 140); */
  margin: 0.5%;
}

.gallery-card-img {
  /* background-image: linear-gradient(180deg, rgb(118, 52, 126), rgb(189, 84, 201)); */
  /* border: 2px solid rgb(11, 176, 61); */
}

.gallery-card-body {
  flex-direction: column;
  align-content: space-between;
  margin: 5px;
}

/* страница со всеми фотографиями в альбоме и*/
/* страница с изображением фотографии на в полном размере*/
.photo-container {
  min-height: 100vh;
  width: 60%;
  justify-content: center;
  border: 2px solid rgb(46, 29, 174);
}

.photo-card {
  height: auto;
  margin: 0.5%;
  /* border: 2px solid rgb(176, 11, 140); */
  border: 1px solid rgb(52, 52, 52);
  overflow: hidden; /*скрывает все за границами данного блока*/
}

.photo-card-img {
  /* border: 2px solid rgb(11, 176, 61); */
  width: 100%;
}